.card { width: 150px; height: 150px;}
 gameboard {

    margin: auto;
 }  


h1 {
    color: white;
    font-family: verdana;
    font-size: 200%;
    text-shadow: 2px 2px black;
    text-align: center;
}
.playersname{ font-size: 24px;color: white;font-family: Verdana; }
.score{ font-size: 20px;color: yellow; font-family:Verdana; }